header
{border: 10px solid darkblue;
background-color: yellow;
padding: 40px
height:50%}
article
{border: 10px solid darkred;
background-color: grey;
padding: 40px}
img
{height: 500px}
articles-section article {
	max-width: 400px;
	width: 100%;
}
